---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Button} from "@jjh/ui/button"
---

<Layout title="Welcome to Astro.">
	<main>
	 <Button client:load>my world</Button> 
	 <h>안녕하세요</h>
	</main>
</Layout>

