---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Button} from "@jjh/ui/button"
---

<Layout title="Hompage 생성기">
	<main>
	 <h>홈페이지 생성기</h>
	</main>
</Layout>

