---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { css } from '../../styled-system/css';
---

<Layout title="Hompage 생성기">
	<main>
		<section class={css({color:'blue'})}>
			안녕하세요
		</section>	
	</main>
</Layout>

