---
import Layout from "../layouts/Layout.astro";
import Menubar from "../components/nav/bb.astro";
import Body from "../components/introduce/Basic.astro"

---
<Layout>
<Menubar></Menubar>
<Body></Body>

<Layout>
  