---

import Contact from "./contact.astro";
import Address from "./address.astro"
import WorkDay from "./workday.astro"

---

   <div>
      <Address></Address>
    </div>
    <div>
        <p>주차안내</p>
    </div>

    <div>
      <WorkDay></WorkDay>    
    </div>

    <div>
        <p>예약안내</p>
        <Contact></Contact>
    </div>

    <div>
        <p>외부사진</p>
    </div>
      


