---

import Contact from "./contact.astro";
import Address from "./address.astro"
import WorkDay from "./workday.astro"
import Reservation from "./Reservation.astro";

---

   <div>
      <Address></Address>
    </div>
    
    <div>
      <WorkDay></WorkDay>    
    </div>

    <div>
        
        <!-- <Contact></Contact> -->
        <Reservation></Reservation>
    </div>

    <div>
        <p>외부사진</p>
    </div>
      


