---
import Layout from "../layouts/Layout.astro";
import * as data from "../types";
---

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    </head>
    

<Layout>
 <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    #chat-container {
        width: 80%;
        height:80%;
        margin: 20px auto;
        border: 1px solid #ccc;
        padding: 10px;
        height: 400px;
        overflow-y: scroll;
    }

    #input-container {
        margin-top: 10px;
    
    }

    #message-input {
        width: 200px;
        padding: 5px;
    }


    </style> 
    <div id="chat-container"></div>
      <div  id="input-container" >
        <!-- <input type="text" name="q" placeholder="메시지 입력"> -->
        <input id="input" 
            type="text"
            hx-get="/partials/ai"
            hx-target="#chat-container"
            hx-trigger="keyup[keyCode==13]"
            name="q"
        </>
      </div>
    
      <script>
        // 페이지 로드 후 input 요소에 포커스 주기
        window.onload = function() {
            document.getElementById('input').focus();
        };
    </script>
        
    
</Layout>