---
export const partial = true;
const websiteSections = {
  "소개": ["인사말", "연혁", "스토리", "철학"],
  "제품": ["제품" ,'마케팅'],
  "고객센터": ["영업시간", "예약정보", "위치", "상담시간"],
//   "상단" :[],
//   "하단" :[],
};
const category=Astro.url.searchParams.get("pageCategory")
const items =websiteSections[category]
const caption="Section 선택"
const find = items  == undefined ? false :true;
---
{items &&
<select 
    hx-trigger="change" 
    hx-get="/partials/container" 
    hx-target="#container" 
    name="section"
>
    <option>{caption}</option>
    {   
        items.map((item) => (
            <option value={item}>{item}</option>
        ))
    }
</select>

<div id="container">

</div>
}

