---
 //import Card from "../../components/Card.astro"
 import "../../index.css"
 const docs = await Astro.glob("../../components/nav/b*.astro");
 console.log(docs)
 const page= Astro.url.searchParams.get("page")
 const v= Astro.url.searchParams.get("vvv")
 console.log(v)

 const myMenuBar = {
    items: [
        {
            label: "홈",
            link: "#home",
        },
        {
            label: "제품",
            link: "menu",
            submenu: [
                { label: "전자제품", link: "#traditional" },
                { label: "가전제품", link: "#steamed" },
                { label: "컴퓨터", link: "#fried" },
            ],
        },
        
        {
            label: "매장 안내",
            link: "store",
        },
        {
            label: "문의",
            link: "board",
        },
    ],
};


// const theme = {
//   primaryColor: "#5C3C11",
//   secondaryColor: "#A33D21",
//   primaryFont: "Georgia, serif",
//   radius: "5px",
// };


 const theme = {
  primaryColor:'blue',
  secondaryColor: "#FFD700",  // Gold
  primaryFont: "Georgia, serif",
  radius: "30px",
    
};

let primaryColor='red'
if(page==1)
{
    primaryColor='yellow';
}

---

 <div id="vv">ccc</div>
 {docs.map((item)=>(
    <div>
    <item.default myMenuBar={myMenuBar} primaryColor={primaryColor} change={1}></item.default>
   </div>
 ))}
 